[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".zsh/modules/zsh-context-sensitive-alias"]
	path = .zsh/modules/zsh-context-sensitive-alias
	url = git://github.com/uasi/zsh-context-sensitive-alias.git
