[user]
	name = Sho Kusano
	email = rosylilly@aduca.org
[alias]
	st = status
	co = checkout
	ci = commit
	cm = commit
	bc = branch
	ps = push
  pl = pull
	tracking = checkout -t
[core]
	editor = vim
[color]
	ui = true
[push]
	default = tracking
