[user]
  name = Sho Kusano
  email = rosylilly@aduca.org
[alias]
  st = status
  co = checkout
  ci = commit
  cm = commit -m
  ca = commit -a
  bc = branch
  ps = push
  pl = pull
  pb = pull --rebase
  tracking = checkout -t
  io = !"sh -c 'curl -i http://git.io/ -F url=$1 `[ -n \"$2\" ] && echo -F code=$2`' -"
[core]
  editor = vim
[color]
  ui = true
[push]
  default = tracking
[tig "bind"]
  generic = g move-first-line
  generic = G move-last-line
